<h1>Test</h1>

<h3>Please fill this form with your Breast Cancer exam results</h3>

<form class="" action="/test" method="POST">

  <div class="">
    <label for="clump_thickness">Clump Thickness</label><br>
    <input type="number" name="clump_thickness" min="1" max="10" required>
  </div>

  <div>
    <label for="cell_size">Uniformity of cell size</label> <br>
    <input type="number" name="cell_size" min="1" max="10" required>
  </div>

  <div>
    <label for="cell_shape">Uniformity of Cell shape</label> <br>
    <input type="number" name="cell_shape" min="1" max="10" required>
  </div>

  <div>
    <label for="marginal_adhesion">Marginal Adhesion</label><br>
    <input type="number" name="marginal_adhesion" min="1" max="10" required>
  </div>


  <div>
    <label for="epithelial_cell_size">Single Epithelial cell size</label><br>
    <input type="number" name="epithelial_cell_size" min="1" max="10" required>
  </div>

  <div>
    <label for="bare_nuclei">Marginal Adhesion</label><br>
    <input type="number" name="marginal_adhesion" min="1" max="10" required>
  </div>

  <div>
    <label for="bland_chromatin">Bland Chromatin</label><br>
    <input type="number" name="bland_chromatin" min="1" max="10" required>
  </div>

  <div>
    <label for="normal_nucleoli">Normal Nucleoli</label><br>
    <input type="number" name="normal_nucleoli" min="1" max="10" required>
  </div>

  <div>
    <label for="mitoses">Mitoses</label><br>
    <input type="number" name="mitoses" min="1" max="10" required>
  </div>

  <input type="submit">
</form>


<div class="">
  <a href="/home">Go back</a>
</div>
